/node_modules
/public/hot
/public/storage
/storage/*.key
/public/img/profile_photos
/public/img/service_user_profile_photos
/storage/documents/
/storage/plupload/
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.htaccess
.lock
