.help-block{
    font-size: 70%;
    color: red;
}

.error-block{
    color: red;
}

.success-block{
    color: green;
}

input[type="checkbox"][readonly] {
    pointer-events: none;
}

.about_section{margin-top: 0px;}
#workingTimes, #workingTimes:active, #workingTimes:focus
{
    width:120px !important;
    background-color: #7ab7dc;
    border: none;
    color: #fff;
    outline: none;
}

textarea:focus, input:focus{
    outline: none;
}

select#workingTimes {
    border:0px;
    outline:0px;
}

#sign_up_div {
    width: 200px;
}

.faq__title:after {
    content: '';
    display: none;
    margin-top: 20px;
    width: calc(100% - 20px);
    width: -webkit-calc(100% - 20px);
    height: 1px;
    background: #dee1e3;
}